@model Expense

@{
    ViewData["Title"] = "Expense Details";
}

<div class="text-center">
    <h1>Expense Details</h1>

    <table class="table table-bordered">
        <tr>
            <th>Description</th>
            <td>@Model.Description</td>
        </tr>
        <tr>
            <th>Category</th>
            <td>@Model.Category.Name</td>
        </tr>
        <tr>
            <th>Cost</th>
            <td>@Model.Amount zł</td>
        </tr>
        @* <tr> *@
        @*     <th>Date</th> *@
        @*     <td>@Model.Date.ToString("yyyy-MM-dd")</td> *@
        @* </tr> *@
    </table>

    <div class="mt-3">
        <a asp-action="Edit" asp-route-ExpenseId="@Model.Id" class="btn btn-warning">Modify</a>
        <a asp-action="Delete" asp-route-ExpenseId="@Model.Id" class="btn btn-danger">Delete</a>
        <a asp-action="Index" class="btn btn-primary">Back to List</a>
    </div>
</div>